<div class='container'>
    {{#each array}}
        <div class='block'>
            <h1><a href="pages/{{this.path}}.html">{{this.text}}</a></h1>
            <img src="images/state{{this.id}}.jpg" alt="ds"/>
        </div>
    {{/each}}
</div>